<h1>Hi there</h1>

<div><%= gameNew.date %></div>
<div><%= gameNew.location %></div>
<div><%= gameNew.score %></div>
<div><%= gameNew.dsr %></div>
<div><%= gameNew.slope %></div>
<div><%= gameNew.ga %></div>

<p>Well done. Top stuff</p>